.l-r-report{
    width: 1100px;
    padding: 11px 147px 0px;
    margin: 0px auto 63px;

    border: 1px solid #00b8f1;
    
    text-align: center;
    
    .l-r-main_top_image{
        margin-top: 21px;
        width: 804px;
    }

    .read_report_button{
        margin-top: 32px;
        margin-bottom: 89px;
    }
}

.l-r-report_last{
    margin-bottom: 112px;
}
